<div class="navbar-default">
  <div class="container">
    <div class="row display-flex">
      <img class="imgTitulo col-xs-2 col-sm-4" src="assets/Rubiks_cube.svg">
      <h1 class="titulo col-xs-6 col-sm-8">Tienda en Línea!</h1>
    </div>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['inicio']"><img class="imgMenu" src="assets/ic_home_white.svg" alt="Inicio"></a>
        </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Productos <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a [routerLink]="['productos/1']">Cubos</a></li>
                <li><a [routerLink]="['productos/2']">Piramides</a></li>
                <li><a [routerLink]="['productos/3']">Otros</a></li>
                <li><a [routerLink]="['productos/0']">Todos los productos</a></li>
              </ul>
            </li>
            <li>
                <a [routerLink]="['pedidos']">Pedidos <span class="badge">{{pedidoService.pedidos.length}}</span></a>
            </li>
            <li>
              <a [routerLink]="['carrito']"><img src="assets/ic_cart_white.svg" class="imgMenu"> <span class="badge"> {{carritoService.elementos.length}}</span></a>
            </li>
          </ul>  
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="container container-primary">
  <router-outlet></router-outlet>
</div>

<footer class="navbar-default">
  <p>Daniel Sánchez Ovalle</p>
</footer>