<div class="navbar navbar-default">
  <div class="container">  
    <div class="row">
      <h1 class="titulo col-xs-3">Tienda Virtual!</h1>
      <img class="col-xs-3" src="../assets/ic_shop_two_white_24px.svg" alt="">
    </div>
    <ul class="nav navbar-nav">
      <li><a>Inicio</a></li>
      <li><a>Productos</a></li>
      <li><a>Carrito</a></li>
    </ul>
  </div>
</div>

<div class="container">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">panel!!</h1>
  </div>
  <div class="panel-body">

  </div>
</div>

</div>