<div class="page-header">
  <h1>¡Bienvenido a Tienda en Línea!</h1>
</div>
<div class="row display-flex">
  <div class="col-xs-12 col-md-4 imgContainer">
    <img src="assets/LogoUASLP.png" alt="LogoUASLP" class="img-responsive">
  </div>
  <div class="col-xs-12 col-md-8 text-center">
    <h2>Universidad Autónoma de San Luis Potosí</h2>
    <h2>Facultad de Ingeniería</h2>
    <h2>Proyecto Tienda en Línea</h2>
    <h2>Desarrollado para el curso</h2>
    <h2><strong>"Sitios interactivos con AngularJs"</strong></h2>
    <h3>Junio 2017</h3>
  </div>
</div>
  
